.container {
  border-radius: 8px;
  border: 1px solid lightgray;
  color: inherit;
  background-color: white;
}

.link {
  text-decoration: inherit;
  color: inherit;
}

.image {
  width: 100%;
  border-radius: 8px;
}

.text {
  padding: 12px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: bold;
}
