name: docker

on: push

jobs:
  docker:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push client
        uses: docker/build-push-action@v4
        with:
          push: true
          context: "{{defaultContext}}:the-good-corner/frontend"
          file: "{context}/Dockerfile.prod"
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/tgc-front:latest
